{% extends "layout.html" %} <!-- inherit from the layout file - this contains all the code that is shared between pages-->
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}  <!-- adding csrf token - used with the secret key-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Work Breakdown Structure</legend>
                <div class="form-group">
                    {{ form.project_title.label(class="form-control-label") }}

                    {% if form.project_title.errors %}
                        {{ form.project_title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.project_title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.project_title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.parent_id.label(class="form-control-label") }}
                    {% if form.parent_id.errors %}
                        {{ form.parent_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.parent_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.parent_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.status.label(class="form-control-label") }}
                    {% if form.status.errors %}
                        {{ form.status(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.status.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.status(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.task_description.label(class="form-control-label") }}
                    {% if form.task_description.errors %}
                        {{ form.task_description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.task_description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.task_description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.start_date.label(class="form-control-label") }}
                    {% if form.start_date.errors %}
                        {{ form.start_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.start_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.start_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.end_date.label(class="form-control-label") }}
                    {% if form.end_date.errors %}
                        {{ form.end_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.end_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.end_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.resource.label(class="form-control-label") }}
                    {% if form.resource.errors %}
                        {{ form.resource(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.resource.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.resource(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    {% for post in posts %} <!-- get all the task data-->
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.resource }}</a> 
              <small class="text-muted">{{ post.task_id }}</small>
              <small class="text-muted">{{ post.status }}</small>
              <small class="text-muted">{{ post.start_date }}</small>
              <small class="text-muted">{{ post.end_date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.task_description }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    </div>
    <div class="jumbotron">
    <div class="content-section">
        <div class='row'> 
        <div class="col-xl">
               
        <table>
        <thead>
        <tr>
            <th scope="col">Project Title</th>
            <th scope="col">Task Description</th>
            <th scope="col">Status</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Resource</th>
        </tr>
        </thead>
        <tbody>
        {% for tasks in all_tasks %}
            
                <tr>
                    <td>{{ tasks.project_title }}</td>
                    <td>{{ tasks.task_description }}</td>
                    <td>{{ tasks.status }}</td>
                    <td>{{ tasks.start_date }}</td>
                    <td>{{ tasks.end_date }}</td>
                    <td>{{ tasks.resource_id }}</td>
                </tr>
           <!-- <p>{{ tasks.project_title }} {{ tasks.task_id }} {{ tasks.status }} {{ tasks.start_date }} {{ tasks.end_date }} {{ tasks.resource_id }}</p> -->
        {% endfor %}
         </tbody>
         </table>
    </div>
    </div> 
    </div>
    </div>
{% endblock content %}